.content{
    background-color: darkgoldenrod;
    padding:3px;
    height:500px;
    width:40%;
    margin:20px;
    border-radius:10px;
    text-align:center;
    
}
input{
   height:40px;
   width:50%; 
   margin:20px;
   border-radius:10px;
   border:none;
   outline:none;
}
input:hover{
    background-color:bisque;
    outline:white;
}
button{
    height:45px;
    width:40%;
    margin:20px;
    background-color:darkgreen;
    color:white;
    border-radius:10px;
    outline:none;
    border:none;
    font-size:15px;
}

@media screen and (max-width:900px){
    body{
        width:100%
    }
}
@media screen and (max-width:500px){
    body{
        height:500px;
        width:150%
    }
}

@media screen and (max-width:600px){
    body{
        width:250%;
    }
}
